@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Montserrat:wght@300&family=Open+Sans&family=Oswald:wght@300&family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
}
#container{
    display:flex;
    width: 350px;
    height: 250px;
    flex-direction: column;
    font-family: 'Crimson Text', 'Times New Roman', Times, serif;
    border-radius: 15px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgb(133, 129, 129);
}
h1{
    text-align: center;
    color: rgb(35, 9, 105);
}
#b1{
    width: 250px;
    background-color: rgb(49, 12, 151);
    color: aliceblue;
    border-radius: 4px;
    border: none;
    padding: 4px;
    font-weight:bolder;
}
input, button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}
body{
    background-color: rgb(32, 32, 32);
}
